<div class='card'>
    <div class='card-header'>
     {{pageTitle}}
    </div>
    
    <div class='card-body'>            
      <div class='table-responsive'>
        <table class='table'
              *ngIf = 'books && books.length'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-primary'
                (click)='toggleImage()'>
                  {{showImage? 'Hide' : 'Show'}} Image
                </button>
              </th>
              <th>Book</th>
              <th>Author</th>
              <th>Genre</th>
              <th>Description</th>
            </tr>
           
          </thead>
          <tbody>  
              <tr *ngFor='let book of books'>
                  <td><img *ngIf='showImage'
                    [src] = 'book.imageUrl' 
                    [title] = 'book.book'
                    [style.width.px] = 'imageWidth'
                    [style.height.px] ='imageHeight'
                    [style.margin.px] = 'imageMargin'></td>
                  <td>{{ book.book }}</td>
                  <td>{{ book.author }}</td>
                  <td>{{ book.genre }}</td>
                  <td>{{ book.description }}</td>
                  <td>
                    <button class="btn btn-warning" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="editProduct(book)" style="margin-left: 20px;"> Edit</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger" style="cursor:pointer" *ngIf="_auth.loggedIn()"(click)="deleteProduct(book)"> Delete</button>
                  </td>
                </tr>              
          </tbody>
        </table>
      </div>
    </div>
  </div>
  