<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form  (ngSubmit)="loginUser()" ngNativeValidate #userlogin='ngForm'>
            <div class='form-group' >
              <label for="uname1">Username</label>
              <input class='form-control' type="text" name="uname" placeholder="Enter the admin username" [(ngModel)]="user.uname" required pattern='admin@library' #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
              <small class="text-danger" [class.d-none]="email.valid || email.touched">&nbsp; Enter a valid username</small>
             </div>
            <div class='form-group'>
              <label>Password</label>
              <input type="password"class='form-control' name="password" placeholder="Enter the password" [(ngModel)]="user.password" minlength="5" required>
              </div>
            <br>
            <div >
            <button style='margin-left: 40%;' type="submit" class="btn btn-success float-right" >Login</button>
          </div>
          </form>                             
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>